<div class="container">
  <div class="row mt-3">
    <div class="col-sm-5 ps-0">
      <img class="img-fluid rounded-circle" src="assets/images/simar.png" alt="Simar Preet Singh" />
    </div>
    <div class="col-sm-7 pe-0 d-flex flex-column justify-content-center fs-4">
      <p class="mb-1">Hi There!</p>
      <p class="fs-1 mb-0">I am</p>
      <p class="fs-1 mb-1">Simar Preet Singh</p>
      <blockquote class="fst-italic">&quot;Succeed and help others succeed.&quot;</blockquote>
    </div>
  </div>
</div>
